<!-- Première section -->
<div
  fxLayout="row"
  fxLayoutAlign="space-between center"
  fxLayoutGap="20px"
  class="stats-cards"
>
  <!-- Affichage du graphique Highcharts -->
  <highcharts-chart
    [Highcharts]="Highcharts"
    [options]="chartOptions"
    style="width: 100%; height: 400px; display: block"
  ></highcharts-chart>
</div>

<!-- Deuxième section -->
<div
  fxLayout="row"
  fxLayoutAlign="space-between center"
  fxLayoutGap="20px"
  class="stats-cards"
>
  <!-- Contrôle de l'état de la LED -->
  <div fxFlex="50">
    <mat-slide-toggle (change)="toggleLed()"></mat-slide-toggle>
    <div style="margin-top: 8px">LED is {{ isLedOn ? "ON" : "OFF" }}</div>
  </div>

  <!-- Affichage de l'image de la LED -->
  <div fxFlex="50" fxFill>
    <img
      [src]="isLedOn ? 'assets/led_on.jpg' : 'assets/led_off.jpg'"
      alt="LED Image"
      style="width: 150px; height: 200px"
    />
  </div>
</div>
<br />
<br />

<!-- Troisième section -->
<div
  fxLayout="row"
  fxLayoutAlign="space-between center"
  fxLayoutGap="20px"
  class="stats-cards"
>
  <div fxFlex="50">
    <!-- Curseur pour régler la température -->
    <div class="slider-container">
      <mat-slider
        class="example-margin"
        [disabled]="disabled"
        [max]="max"
        [min]="min"
        [step]="step"
        [discrete]="thumbLabel"
        [showTickMarks]="showTicks"
        (input)="onSliderInput()"
      >
        <input matSliderThumb [(ngModel)]="valueSlider" #slider />
      </mat-slider>

      <!-- Affichage de la valeur du curseur -->
      <div>Slider valueSlider: {{ valueSlider }}</div>
    </div>
  </div>

  <!-- Affichage de l'image en fonction de la valeur du curseur -->
  <div fxFlex="50" fxFill>
    <img
      [src]="getImageSource()"
      alt="LED Image"
      style="width: 150px; height: 200px"
    />
  </div>
</div>
